{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="{% static 'v1.0/app/bower_components/webcomponentsjs/webcomponents-lite.js' %}"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="{% static 'v1.0/app/styles/main.css' %}">
      <link rel="stylesheet" href="{% static 'v1.0/app/styles/flexbox.css' %}">

      <title>Main View | Qymatix</title>

    <link rel="import" href="{% static 'v1.0/app/bower_components/polymer/polymer.html' %}">
    <link rel="import" href="{% static 'v1.0/app/elements/elements.html' %}">
    <link rel="import" href="{% static 'v1.0/app/styles/shared-styles.html' %}">
    <link rel="import" href="{% static 'v1.0/app/elements/qy-auth/qy-auth-password-recovery.html' %}">

  <style include="shared-styles">
      .content {
        height: 100%;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #333;
        overflow: hidden;
        background: #f2f2f2;
      }
      .logo
      {
        width:100%;
        text-align: center;
      }

    </style>
  </head>

  <body>
    <div class="content">
      <form action="/webapp/recover_password_validation/" method="post">{% csrf_token %}
        <qy-auth-password-recovery></qy-auth-password-recovery>
      </form>
    </div>
  </body>
</html>
